<div id="left-side">
    <div id="add-bookmark">
        <form id="bookmark-add">
            <div class="form-field">
                <span class="ion-link form-icon"></span>
                <input type="text" name="url" id="url" placeholder="http://www.example.com" />
            </div>
            <div class="form-field hidden">
                <span class="ion-bookmark form-icon"></span>
                <input type="text" name="title" id="title" placeholder="Title..." />
            </div>
            <div class="form-field hidden">
                <span class="ion-ios7-pricetag form-icon"></span>
                <input type="text" name="tags" id="bk-tags" placeholder="Tags (separated by commas)" />
            </div>
            <input type="hidden" name="csrf_token" id="csrf_token" value="{{csrf_token}}" />
            <input type="hidden" name="bookmark_date" id="bookmark_date" value="" />
            <input type="hidden" name="old_tags" id="old_tags" value="" />
            <input type="hidden" name="bookmark_id" id="bookmark_id" value="" />
            <div class="form-buttons">
                <input type="submit" name="submit" id="submit-add-bookmark" value="Add bookmark" />
                <button id="toggle_edit_form" class="button-action hidden"><span class="ion-close form-icon"></span>Discard changes</button>
            </div>
        </form>
    </div>
    <section id="list-bookmarks">
        {{#bookmarks}}
        <article id="bookmark_{{ID}}">
            <div class="bookmark-actions">
                <a href="#" class="bookmark-edit"><span class="ion-levels"></span></a>
                <a href="#" class="bookmark-delete"><span class="ion-trash-b"></span></a>
            </div>
            <h3><a href="{{URL}}" target="_blank">{{Title}}</a></h3>
            <div class="bookmark-url"><span class="ion-link bookmark-icon"></span> {{URL}}</div>
            <div class="bookmark-date"><span class="ion-clock bookmark-icon"></span> {{Date}}</div>
            <div class="bookmark-tags">
                <span class="ion-ios7-pricetag bookmark-icon"></span>
                {{#Tags}}
                <span class="bookmark-tag">{{.}}</span>
                {{/Tags}}
            </div>
        </article>
        {{/bookmarks}} {{^bookmarks}}
        <article class="empty">
            <h3><span class="ion-ios7-glasses-outline"></span></h3>
            <p>There aren't any bookmarks yet.</p>
        </article>
        {{/bookmarks}}
    </section>
    {{#load_more}}
    <div id="load-more" {{^load_more}}class="hidden" {{/load_more}}>
        <button id="load-more-button">Load more</button>
    </div>
    {{/load_more}}
</div>
<aside>
    <div id="aside-head">
        <h1><span class="ion-magnet"></span></h1>
    </div>

    <form id="search-form">
        <input type="text" name="search_query" id="search_query" placeholder="Search..." />
    </form>

    <div id="back-index" class="hidden">
        <a id="browseALL" href="/"><span class="ion-refresh info-icon"></span> Browse all</a>
    </div>

    <div id="tags">
        <h3>Tags</h3>
        <ul>
            {{#tags}}
            <li class="clickable">{{Name}} <span class="tag-count">({{Count}})</span>
            </li>
            {{/tags}} {{^tags}}
            <li>No tags</li>
            {{/tags}}
            </li>
    </div>

    <div id="info">
        <ul>
            <li><a href="/logout"><span class="ion-log-out info-icon"></span> Logout</a>
            </li>
            <li class="copy">Powered by Magnet.
                <br /><a href="https://github.com/mvader/magnet"><span class="ion-social-github info-icon"></span></a>
            </li>
        </ul>
    </div>
</aside>

<footer></footer>

<script>
	var payload = [ {{#bookmarks}} { 
					"uuid" : "{{ID}}",
					"title": "{{Title}}",
					"url"  : "{{URL}}",
					"date" : "{{Date}}",
					"tags" : [{{#Tags}}"{{.}}",{{/Tags}}],
				},
        {{/bookmarks}}
		]		
</script>
