<div id="left-side">
	<section>
	</section>
</div>
<aside>
	<div id="aside-head"><h1><span class="ion-magnet"></span></h1></div>

	<form id="search-form" onsubmit="submitSearchForm(); return false;">
		<input type="text" name="search-query" id="search-query" placeholder="Search..." />
	</form>

	<div id="tags">
		<h3>Tags</h3>
	</div>
</aside>

<footer></footer>