<div id="base-container">
    <form id="access-form" onsubmit="submitAccessForm(this); return false;">
        <div class="notice error hidden">
        </div>
        
        <div class="form-field">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" class="form-input" required />
        </div>
        
        <div class="form-field hidden" id="email-field">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" class="form-input" />
        </div>
        
        <div class="form-field">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" class="form-input" required />
        </div>
        
        <input type="hidden" id="csrf_token" name="csrf_token" value="{{{csrf_token}}}" />
        
        <div class="form-buttons">
            <input type="submit" name="submit" id="submit-button" value="Login" />
            <input type="button" id="no-account" value="I don't have an account" onclick="accessFormChangeMode();" />
        </div>
    </form>
</div>